@model Game.Models.Team

<form method="post" asp-action="Update">
    <input asp-for="Id" hidden />
    <div class="border p-3">
        @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Обновить команду</h2>
        </div>
        <div class="col-6">
            <label asp-for="TeamName"></label>
            <input asp-for="TeamName" class="form-control" />
            <span asp-validation-for="TeamName" class="text-danger"></span>
        </div>
        <div class="col-6">
            <label asp-for="TeamRating"></label>
            <input asp-for="TeamRating" class="form-control" />
            <span asp-validation-for="TeamRating" class="text-danger"></span>
        </div>
        <div class="col-6">
            <label asp-for="Coach"></label>
            <input asp-for="Coach" class="form-control" />
            <span asp-validation-for="Coach" class="text-danger"></span>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <input type="submit" class="btn btn-info w-75" value="Update" />
                </div>
                <div class="col">
                    <a asp-action="Index" class="btn btn-danger w-75">Назад</a>
                </div>
            </div>
        </div>

    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}