@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Counter-Strike: Global Offensive</h1>
    <img src="~/images/cs.jpg" class="img-thumbnail" alt="...">

</div>
